<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.schedule"
    android:versionCode="1"
    android:versionName="1.0" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.SysApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddCourseActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.AddScheduleActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.CourseActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.CourseDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.MouthScheduleActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ScheduleActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.TestActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.WeekScheduleActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
